{% extends 'layout.html' %}


{% block content %}
<div id="media-management" class="container">
  <h2>Add Stream</h2>
  <div class="form-group">
  </div>
  {% set cancel_url = url_for('media-list') %}
  {% include 'edit-model-form.html' %}
</div>

{% include "dialogbox.html" %}
{% endblock %}

{% block scripts %}
  <div class="modal-backdrop hidden"></div>
  {{import_script("jquery-3.4.1")}}
  <script src="{{url_for('static', filename='js/media.js')}}" type="text/javascript"></script>
{% endblock %}
