{% extends 'edit-model.html' %}

{% block card_header %}
Edit file &quot;{{model.name}}&quot; ({{ model.blob.filename }})
{% endblock %}

{% block extra_buttons %}
<a href="{{url_for('delete-media', spk=model.stream.pk, mfid=model.pk)}}"
   class="btn btn-danger delete-file"
   data-id="{{model.pk}}">Delete file &quot;{{model.name}}&quot;</a>
{% endblock %}

{% block form_element %}
data-validate-url="{{url_for('check-media-changes', spk=model.stream.pk, mfid=model.pk)}}"
{% endblock %}

{% block extrascripts %}
<script src="{{url_for('static', filename='js/edit_media.js')}}" type="module" ></script>
{% endblock %}
