{% extends 'layout.html' %}


{% block content %}
<div id="media-management" class="container">
  <h1>Available DASH streams</h1>
  <table class="table table-striped" id="streams" data-csrf="{{csrf_tokens.streams}}">
    <caption>Streams</caption>
    <thead><tr>
        <th class="stream-actions">
          {% if user_can_modify %}
          <a href="{{url_for('add-stream')}}" class="btn btn-success add-stream">Add</a>
          <a href="{{url_for('upload-stream')}}" class="btn btn-success add-stream">Upload</a>
          {% endif %}
        </th>
        <th class="title">Title</th>
        <th class="directory">Directory</th>
        <th class="duration">Duration</th>
        <th class="tracks">Tracks</th>
    </tr></thead>
    <tbody>
    {% for stream in streams %}
    <tr>
      <td class="stream-actions">
        <a href="{{url_for('view-stream', spk=stream.pk)}}"
           class="btn btn-success btn-sm edit-stream"
           data-id="{{stream.pk}}">
          {%- if user_can_modify %}
          Edit
          {%- else %}
          View
          {%- endif %}
        </a>
      </td>
      <td class="title">
        <a href="{{url_for('view-stream', spk=stream.pk)}}">{{stream.title}}</a>
      </td>
      <td class="directory">
        <a href="{{url_for('view-stream', spk=stream.pk)}}">{{stream.directory}}</a>
      </td>
      <td class="duration">
        {{ stream.duration() | timeDelta(full_tc=True, with_millis=True) }}
      </td>
      <td class="tracks">
        {%- with summary = stream.track_summary() %}
        {{ summary.video.count | plural('video track', 'video tracks') }},
        {{ summary.audio.count | plural('audio track', 'audio tracks') }},
        {{ summary.text.count | plural('text track', 'text tracks') }}
        {%- endwith %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% include 'media/keys_table.html' %}
</div>

{% include "dialogbox.html" %}
{% endblock %}

{% block extraheaders %}
  <script src="{{ url_for('static', filename='js/media.js') }}" type="module"></script>
{% endblock %}
