{% extends 'layout.html' %}


{% block content %}
<div id="media-management" class="container">
  <h1>Available DASH streams</h1>
  <table class="table table-striped" id="streams" data-csrf="{{csrf_tokens.streams}}">
    <caption>Streams</caption>
    <thead><tr>
        <th class="stream-actions">
          <a href="{{url_for('add-stream')}}" class="btn btn-success add-stream">Add</a>
	</th>
        <th class="title">Title</th>
        <th class="directory">Directory</th>
        <th class="marlin_la_url">Marlin SAS URL</th>
        <th class="playready_la_url">PlayReady LA_URL</th>
    </tr></thead>
    <tbody>
    {% for stream in streams %}
    <tr>
      <td class="stream-actions">
        <a href="{{url_for('edit-stream', spk=stream.pk)}}"
           class="btn btn-success btn-sm edit-stream"
           data-id="{{stream.pk}}">Edit</a>
      </td>
      <td class="title">
	<a href="{{url_for('edit-stream', spk=stream.pk)}}">{{stream.title}}</a>
      </td>
      <td class="directory">
	<a href="{{url_for('edit-stream', spk=stream.pk)}}">{{stream.directory}}</a>
      </td>
      <td class="marlin_la_url ellipsis"
          data-text="{{stream.marlin_la_url|default(drm.marlin.laurl)}}">
        {{stream.marlin_la_url|default(drm.marlin.laurl)}}
      </td>
      <td class="playready_la_url ellipsis"
          data-text="{{stream.playready_la_url|default(drm.playready.laurl)}}">
        {{stream.playready_la_url|default(drm.playready.laurl)}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% include 'media/keys_table.html' %}
</div>

{% include "dialogbox.html" %}
{% endblock %}

{% block scripts %}
  <div class="modal-backdrop hidden"></div>
  {{import_script("jquery-3.4.1")}}
  <script src="/static/js/media.js" type="text/javascript"></script>
{% endblock %}
