{% extends 'layout.html' %}


{% block content %}
<div id="media-management" class="container">
  <table class="table table-striped" id="streams" data-csrf="{{csrf_tokens.streams}}">
    <caption>Streams</caption>
    <thead><tr>
        <th class="stream-actions"></th>
        <th class="title">Title</th>
        <th class="directory">Directory</th>
        <th class="marlin_la_url">Marlin SAS URL</th>
        <th class="playready_la_url">PlayReady LA_URL</th>
    </tr></thead>
    <tbody>
    {% for stream in streams %}
    <tr>
      <td class="stream-actions">
        <a href="{{url_for('stream-edit', spk=stream.pk)}}"
           class="btn btn-success btn-sm edit-stream"
           data-id="{{stream.pk}}">Edit</a>
      </td>
      <td class="title">
	<a href="{{url_for('stream-edit', spk=stream.pk)}}">{{stream.title}}</a>
      </td>
      <td class="directory">
	<a href="{{url_for('stream-edit', spk=stream.pk)}}">{{stream.directory}}</a>
      </td>
      <td class="marlin_la_url ellipsis"
          data-text="{{stream.marlin_la_url|default(drm.marlin.laurl)}}">
        {{stream.marlin_la_url|default(drm.marlin.laurl)}}
      </td>
      <td class="playready_la_url ellipsis"
          data-text="{{stream.playready_la_url|default(drm.playready.laurl)}}">
        {{stream.playready_la_url|default(drm.playready.laurl)}}
      </td>
    </tr>
    {% endfor %}
    <tr class="placeholder">
      <td class="stream-actions">
        <button class="btn btn-success btn-sm edit-stream">Edit</button>
        <button class="btn btn-danger btn-sm delete-stream">Delete</button>
      </td>
      <td class="title"></td>
      <td class="directory">
      <td class="marlin_la_url ellipsis"></td>
      <td class="playready_la_url ellipsis"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr  class="thead-light">
      <td class="stream-actions">
        <a href="{{url_for('stream-add')}}" class="btn btn-success add-stream">Add</a>
      </td>
      <td class="title"><input type="text" name="title" placeholder="(stream title)"/></td>
      <td class="directory"><input type="text" name="directory" placeholder="(file directory)"/></td>
      <td class="marlin_la_url"><input type="text" name="marlin_la_url" placeholder="(SAS URL)"/></td>
      <td class="playready_la_url"><input type="text" name="playready_la_url" placeholder="(LA_URL)"/></td>
    </tr>
    <tr><td class="error" colspan="3"></td></tr>
    </tfoot>
</table>
  <table class="table table-striped" id="media-files" data-csrf="{{csrf_tokens.files}}">
    <caption>Media Files</caption>
  <thead>
    <tr>
      <th class="index"></th>
      <th class="delete"></th>
      <th class="filename">Name</th>
      <th class="filesize">Size</th>
      <th class="created">Created</th>
      <th class="sha1-hash">SHA1</th>
      <th class="directory">Stream</th>
      <th class="contentType">Type</th>
      <th class="codec">Codec</th>
      <th class="kid">KID</th>
    </tr>
  </thead>
  <tbody>
    {% for media in files %}
    {% include "media_row.html" %}
    {% endfor %}
    <tr class="error-row"><td class="error" colspan="8"></td></tr>
  </tbody>
</table>

  <table class="table table-striped" id="keys" data-csrf="{{csrf_tokens.kids}}">
    <caption>Keys</caption>
    <thead><tr>
        <th class="delete" />
        <th class="kid">KID</th>
        <th class="key">Key</th>
        <th class="computed">Auto generated</th>
    </tr></thead>
  <tbody>
    {% for keypair in keys %}
    <tr>
      <td class="delete">
        <button class="btn btn-danger delete-key">Delete</button>
      </td>
      <td class="kid">{{keypair.KID.hex}}</td>
      <td class="key">{{keypair.KEY.hex}}</td>
      <td class="computed">
        {% if keypair.computed %}
        <span class="bool-yes %s">&check;</span>
        {% else %}
        <span class="bool-no ">&cross;</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr class="placeholder">
      <td class="delete">
        <button class="btn btn-danger delete-key">Delete</button>
      </td>
      <td class="kid"></td>
      <td class="key"></td>
      <td class="computed"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="thead-light">
      <td class="delete">
        <button class="btn btn-success add-key">Add</button>
      </td>
      <td><input type="text" name="kid" /></td>
      <td><input type="text" name="key"
                 placeholder="(autogenerated)"/></td>
      <td></td>
    </tr>
    <tr><td class="error" colspan="3"></td></tr>
    </tfoot>
  </table>
</div>

{% include "dialogbox.html" %}
{% endblock %}

{% block scripts %}
  <div class="modal-backdrop hidden"></div>
  {{import_script("jquery-3.4.1")}}
  <script src="/static/js/media.js" type="text/javascript"></script>
{% endblock %}
