    <tr id="{{media.name}}">
      <td class="index">
        {% if media.representation %}
        <button class="btn btn-sm btn-info btn-index" data-toggle="modal" data-target="#dialog-box"
                data-key="{{media.pk}}">Re-index</button>
        {% else %}
        <button class="btn btn-sm btn-warning btn-index" data-toggle="modal" data-target="#dialog-box"
                data-key="{{media.pk}}">Index</button>
        {% endif %}
      </td>
      <td class="delete">
        {% if media.blob %}
        <button class="btn btn-danger btn-sm delete-file" data-key="{{media.pk}}">Delete</button>
        {% endif %}
      </td>
      <td class="filename text-primary">
        <a href="{{url_for('media-info', spk=stream.pk, mfid=media.pk)}}">{{media.name}}</a>
      </td>
      <td class="filesize">
        {{media.blob.size|sizeFormat}}
      </td>
      <td class="created">
        {{media.blob.created|dateTimeFormat("%H:%M:%S %d/%m/%Y")}}
      </td>
      <td class="sha1-hash ellipsis" data-text="{{media.blob.sha1_hash}}">
        {{media.blob.sha1_hash}}
      </td>
      <td class="contentType">
        {{media.content_type}}
      </td>
      <td class="codec">
        {% if media.representation %}
        {{media.representation.codecs}}
        {% endif %}
      </td>
      <td class="kid">
        {%- if media.representation.encrypted %}
        {%- for kid in media.encryption_keys %}
	<p><a href="#kid-{{kid.hkid}}">{{kid.hkid}}</a></p>
	{% endfor %}
	{% else %}
          <span class="bool-no ">&cross;</span>
        {% endif %}
      </td>
    </tr>
