{% extends "layout.html" %}

{% block content %}
<div class="container media-info">
  <div class="card">
    <div class="card-header">
      Segments in fille &quot;{{ mediafile.blob.filename }}&quot;
      <a class="btn btn-primary float-right"
	 href="{{ url_for('media-info', spk=stream.pk, mfid=mediafile.pk) }}">Back</a>
    </div>
    <div class="card-body">
      <table class="table table-striped segment-list">
	<thead>
	  <tr>
	    <th class="seg-num">#</th>
	    <th class="text-center start" colspan="2">Start</th>
	    <th class="text-center duration" colspan="2">Duration</th>
	    <th class="text-right position">Position</th>
	    <th class="text-right size">Size</th>
	  </tr>
	</thead>
	<tbody>
	  {% for seg in segments %}
	  <tr>
	    <td class="text-right seg-num">
	      <a class="text-primary"
		href="{{ url_for('view-media-segment', spk=stream.pk, mfid=mediafile.pk, segnum=loop.index0) }}">
	      {%- if loop.first %}
	      init
	      {%- else %}
	      {{ loop.index0 }}
	      {%- endif %}
	      </a>
	    </td>
	    <td class="text-right start">{{ seg.start }}</td>
	    <td class="text-right start">{{ seg.start_time }}</td>
	    <td class="text-right duration">{{ seg.duration }}</td>
	    <td class="text-right duration">{{ seg.duration_time }}</td>
	    <td class="text-right position">{{ seg.position }}</td>
	    <td class="text-right size">{{ seg.size }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div> <!-- card-body -->
  </div> <!-- card -->
</div>
{% endblock %}
