{% extends 'layout.html' %}

{% block content %}
<div id="app" class="container"></div>
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spa.css') }}" />
{% endblock %}

{% block extrascripts %}
<script type="application/json" id="initialTokens">
{{ initialTokens | toJson }}
</script>
<script type="application/json" id="user">
{{ user | toJson }}
</script>
<%= htmlWebpackPlugin.tags.headTags %>
<script nomodule type="text/javascript">
document.location.replace("{{ url_for('es5-home') }}");
</script>
{% endblock %}
