{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "env": {
    "browser": true,
    "es2022": true
  },
  "globals": {
    "AbortController": "readonly"
  },
  "plugins": [
  ]
}
