*~
*.sql3
*.db3
*.pyc
.coverage
.env
.project
.pydevproject
htmlcov
./media/
node_modules
runner.py
settings.py
src/server/settings.py
static/css/boilerplate.css
static/css/fluid960.css
static/css/helpers.css
static/css/legacy.css
static/css/main.css
static/css/mps.css
static/css/prefixer.css
static/css/spa.css
static/css/validator.css
static/css/video.css
tests/runner.py
virtualenv
