settings.py
runner.py
*.sql3
*.pyc
.project
.pydevproject
static/css/boilerplate.css
static/css/fluid960.css
static/css/helpers.css
static/css/prefixer.css
static/css/main.css
static/css/video.css
virtualenv
