*.sql3
*.pyc
.coverage
.project
.pydevproject
./media
runner.py
settings.py
src/server/settings.py
static/css/boilerplate.css
static/css/fluid960.css
static/css/helpers.css
static/css/prefixer.css
static/css/main.css
static/css/video.css
tests/runner.py
virtualenv
