{
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "tabWidth": 2
}