alembic==1.12.0
asgiref==3.8.1
bcrypt==4.0.1
bitstring==3.1.6
blinker==1.6.2
certifi==2024.7.4
click==8.1.3
crccheck==1.1
Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.3
flask_jwt_extended==4.6.0
flask-login==0.6.3
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.4
langcodes==3.4.0
language-data==1.2.0
lesscpy==0.15.1
lxml==4.9.2
MarkupSafe==2.1.3
marisa-trie==1.2.0
mock==3.0.5
passlib==1.7.4
ply==3.11
pycryptodome==3.19.1
python-dotenv==1.0.0
python-socketio==5.9.0
requests==2.32.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.16
SQLAlchemy-JSONField==1.0.1.post0
typing_extensions==4.6.3
urllib3==1.26.19
waitress==3.0.1
WebOb==1.8.8
WebTest==2.0.33
Werkzeug==3.0.6
