<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <span class="navbar-brand">DASH server</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
	  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#each navbar }}
      <li class="nav-item {{ this.className }}">
        <a class="nav-link {{#if this.active }} active{{/if}} {{#if this.spa }} spa{{/if}}"
	   href="{{ this.href }}"
	   >{{ this.title }}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav>
