@blue: #43a1f7;
@darkGrey: #777;
@lightGrey: #eee;
@mediumGrey: #ddd;
@darkBlue: #aaaacc;
@mediumBlue: #ccccee;
@lightBlue: #ddddff;

@tableHeadingBack: #999;
@tableHeadingBackDark: #777;
@navbarActiveColor: #0808c4;

:root {
    --bs-link-hover-color-rgb: 8,8,192;
    --bs-navbar-active-color: @navbarActiveColor;
    --bs-tertiary-bg-rgb: 240,241,243;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding-left: 1em;
    padding-right: 1em;

    .info {
        padding: 0.5em 1em;
    }
}

header {
    height: 6rem;
    font-size: 1.25rem;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    position: relative;
    .title {
        color: @blue;
        padding: 0;
        text-align: left;
        border-radius: 0.2em;
        &:before {
            content: ">";
        }
    }
    .navbar {
        padding: 0 1em 1em;
        .navbar-brand,
        .navbar-brand:hover {
            color: @blue;
        }
        .nav-link.active {
            color: @navbarActiveColor;
            font-weight: bold;
        }
        .user-login {
            position: absolute;
            right: 1em;
        }
    }
    .breadcrumbs {
        border-bottom: 2px solid @darkBlue;
        font-size: 1.1rem;
        line-height: 1rem;
        padding: 0.1em 1em 0.25em;

        .breadcrumb {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

a {
        text-decoration: none;
}

.link {
  text-decoration: underline;
  color: blue;
}

.button {
  margin: 1em 0;
  user-select: none;
  display: block;
  text-decoration: none;
  background: #43a1f7;
  .gradientV(#333, #ddd);
  .border-radius(0.2em);
  font-weight: bold;
  color: #eee;
  padding: 3px 10px 5px 10px;
  text-align: center;
        font-size: 1.5em;
}

#buttons {
  .subtitle, .keypair {
    font-size: 0.75em;
    color: #444;
  }
  .subtitle {
    font-style: italic;
  }
  .keypair {
    font-size: 0.5em;
    font-stretch: extra-condensed;
  }
  .bool-yes {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0.2em;
    font-size: 1.5em;
    height: 100%;
  }
  .cursor {
    border: 2px solid #333;
    font-weight: bold;
    background-color: @darkBlue;
  }
  .info {
      margin: 1em 2em;
      & > a {
          font-weight: bold;
          color: blue;
      }
  }

  .selected > .bool-yes {
    visibility: visible;
  }
  .table {
      margin: 0 auto;
  }
  .play-row {
      padding-top: 0;
      height: 2.5rem;
      .play-cell {
          padding: 0.5em 0;
      }
  }
  .view-manifest-wrapper {
      text-align: center;
      width: 100%;
  }
  #view-manifest {
      font-size: 1.75rem;
  }
}

.button:hover,
.button.hover {
  .gradientV(darken(@blue,20%), #ddd);
  border: 1px solid #2e70c4;
  cursor: pointer;
}
.button:active,
.button.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}
.button:focus,
.button.focus {
  outline: none;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.4), 0 0 4px 0 #377ad0;
}

#subpage {
        display: none;
}

.form {
        border:2px solid #333;
        padding:2em;
        margin-left: auto;
        margin-right: auto;
        border-radius:0.75em;
        background-color: @lightGrey;
        overflow-x:hidden;
  label {
    width: 8em;
    display: inline-block;
  }
  h1 {
    color: black !important;
  }
  input {
    margin-top: 1em;
    width: 20em;
    color: black;
  }
  th > label {
    text-align: right;
  }
  .requ {
    color: red;
    font-size: 75%;
  }
  td.error {
    font-size: 75%;
  }
  td > p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
    .time, .count {
       text-align: center;
    }
}
.error {
  color: red;
  font-weight: bold;
}

.table {
    border-collapse: collapse;
    background-color: white;
    border: 2px solid #333;
    margin: 1em 0.5em;
    th, caption, thead>tr>td {
        background: @tableHeadingBack;
        color: white;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
    }
    .failures {
        color: red;
    }
    td {
        padding: 0 0.5em;
    }
    .totals{
        background-color: @tableHeadingBack;
        font-weight: bold;
    }
    .thead-light {
        background-color: @mediumGrey;
        & > td {
            padding-top: 0.3em;
        }
    }
}

.table thead > tr > th {
  vertical-align: bottom;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #000000;
}
.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
    border: 1px solid @darkGrey;
    caption {
        border-top: 1px solid @darkGrey;
        border-left: 1px solid @darkGrey;
        border-right: 1px solid @darkGrey;
    }
    > thead > tr:first-child > th, > thead > tr:first-child > td {
        border-top: 1px solid @darkGrey;
    }
    > tbody tr:first-child > td {
        border-top: 1px solid @darkGrey;
    }
    thead + tbody  {
        tr > td {
            border: 1px solid @mediumGrey;
        }
    }
}

.table-bordered {
    > thead > tr, > tbody > tr, > tfoot > tr {
        > th, >td {
            border: 1px solid @mediumGrey;
        }
        > td:first-child, > th:first-child {
            border-left: none;
        }
        > td:last-child, > th:last-child {
            border-right: none;
        }
    }
    > tbody > tr:last-child, > tfoot > tr:last-child {
        > td {
            border-bottom: none;
        }
    }
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td {
  border-top: 1px solid @mediumGrey;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: @lightGrey; /* #f5f5f5; */
}

.table-striped > tbody > tr:nth-child(even) > th,
.table-striped > thead .active {
      background-color: @tableHeadingBackDark;
}

.table-striped > tbody > tr:nth-child(even) > .active {
    background-color: @mediumBlue;
}

#editobject {
  width: 50em;
}
#subpage.ready {
        display: block;
}

.hidden {
        display: none !important;
}
.registered {
        opacity: 0;
        transition-property: opacity;
        transition-delay: 1s;
        a {
                display: none;
        }
}
.ready .registered {
        opacity: 1;
        a {
                display: inline;
        }
}

#debug {
  display: none;
}


#progress{
  @pwidth: 15em;
  progress {
    width: @pwidth;
  }
  .percent {
    @pctwidth: 4em;
    position: relative;
    text-align: center;
    width: @pctwidth;
    display: inline-block;
    left: -(@pwidth/2 + @pctwidth/2);
  }
}

.clickable {
    cursor: pointer;
}
.link {
  .clickable;
  text-decoration: underline;
}
.servicelocation {
  display: none;
}

.btn-grid {
  font-size: 1.25rem;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
  width: auto;
  th, td {
    padding: 0.25rem 0;
    border: 1px solid #aaa;
    vertical-align: middle;
    opacity: 0.75;
  }
  .key {
    display: block;
    width: 2em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0.3rem;
    visibility: hidden;
  }
  .manifest-key {
    left: 0;
  }
  .option-key {
    right: 0;
  }
  .active {
    background-color: @lightBlue;
    border: 2px solid #aaaaff;
    opacity: 1;
  }
  .active > .key {
    background: @darkGrey;
        color: white;
    visibility: visible;
  }
  .manifest {
    padding-left: 2.5em;
    position: relative;
    text-align: left;
    width: 35rem;
  }
  .manifest-title {
      color: black;
  }
  .option {
    padding-right: 2.5em;
    width: 35rem;
    position: relative;
    text-align: right;
    > select {
        width: 18rem;
        font-size: 1.2rem;
    }
    .option-title {
      font-size: 1.2rem;
    }
  }
  th.manifest, th.option {
    text-align: center;
  }
}

div.representations, div.cgi-parameters {
  .table {
    display: inline-block;
    vertical-align: top;
  }
  td, th {
    padding: 0.2em 0.5em;
  }
  .bitrate, .sampleRate, .numChannels, .height, .width, .frameRate {
    text-align: right;
  }
  thead {
    font-size: 85%;
  }
  .encrypted, .frameRate {
    max-width: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-stretch: extra-condensed;
    text-align: center;
  }
}

#upload-form {
  width: 35em;
  margin: 2em 0;
}

#media-management {
  & > h2 {
      font-size: 2em;
  }
  .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all .2s linear;
      white-space: nowrap;
      padding:.5rem 1rem;
  }
  .ellipsis:focus, .ellipsis:hover {
      color:transparent;
  }
  .ellipsis:focus:after,.ellipsis:hover:after{
      content:attr(data-text);
      overflow: visible;
      text-overflow: inherit;
      background: #fff;
      position: absolute;
      left:auto;
      top:auto;
      width: auto;
      max-width: 20rem;
      border: 1px solid #eaebec;
      padding: 0 .5rem;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
      white-space: normal;
      word-wrap: break-word;
      display:block;
      color:black;
      margin-top:-1.25rem;
  }

  .placeholder {
       display: none;
  }
  #media-files {
    font-size: 1rem;
    table-layout: fixed;
    width: auto;
    & > tbody > tr > td {
        border-bottom-width: 0;
    }
    .filename {
      width: 8em;
      font-stretch: condensed;
    }
    .filesize {
      text-align: right;
      width: 6em;
    }
    .created {
      text-align: center;
      width: 6em;
    }
    .sha1-hash {
      font-stretch: extra-condensed;
      width: 12em;
      max-width: 12em;
    }
    .codec {
      width: 7em;
    }
    .content-type {
      width: 4em;
    }
    .track-id {
      text-align: right;
      width: 2em;
    }
    .directory {
      width: 6em;
    }
    .kid {
      text-align: center;
      font-stretch: condensed;
      width: 16em;
    }
    .index, .delete {
      padding: 0;
      text-align: center;
      width: 6.5em;
      & > .btn {
          width: 6em;
      }
    }
  }
  #keys {
    input {
        width: 23em;
    }
    & > tbody > tr > td {
        border-bottom-width: 0;
    }
    .kid, .key {
        vertical-align: middle;
    }
    .computed {
        text-align: center;
        vertical-align: middle;
        width: 6em;
    }
    .delete {
        padding: 0.25em 0;
        width: 6em;
        text-align: center;
        & > .btn {
            width: 5em;
        }
    }
  }
  #streams {
      table-layout: fixed;
      & > tbody > tr > td {
          border-bottom-width: 0;
      }
      .stream-actions {
          width: 10em;
          text-align: center;
          .btn {
              margin: 0.2em;
              width: 5em;
          }
          .edit-stream {
              margin-right: 0.1em;
          }
      }
      .title {
          width: 16em;
      }
      .title > input {
          width: 17em;
      }
      .directory {
          width: 7em;
      }
      .directory > input {
          width: 6em;
      }
      .playready_la_url, .marlin_la_url {
          font-size: 0.9rem;
          font-stretch: extra-condensed;
          width: 20em;
      }
  }
  #exampleManifestTabs {
      margin: 2em 0;
  }
  .adaptation-set-list {
      width: 100%;
  }
  .adaptation-set-pre {
      background-color: #eee;
      border: 1px solid #222;
      border-radius: 0.25em;
      padding: 0.5em;
      width: 100%;
  }
  #model-defaults {
      font-size: 0.8rem;
  }
}

.media-info {
    .mp4-atom {
        margin-bottom: 1em;
    }
    .card-body {
        padding-top: 0.25em;
        & > .row {
            padding-bottom: 0;
        }
        & > .row:nth-child(even) {
            background-color: lighten(@lightGrey, 5%);
        }
    }

    .field-title {
        font-weight: bold;
        text-align: right;
    }
}

.segment-list {
    table-layout: fixed;
    width: 60em;

    .seg-num {
        width: 4em;
    }
    .start, .duration, .size {
        width: 6em;
    }
    th {
        border-right-width: 1px;
    }
    th.start, th.duration {
        width: 12em;
    }
    .position {
        width: 7em;
    }
}

#atom-list {
    width: 100%;
    .atom-field-name {
        font-size: 0.9rem;
        text-align: right;
    }
}

.cgi-params {
    table-layout: fixed;
    width: auto;
  li {
      list-style-type: disc;
      margin-left: 2em;
  }
  .pre {
      font-family: fixed;
  }
  .parameter {
      width: 20em;
  }
  .description {
      width: 40em;
  }
  .manifest, .media, .time {
      text-align: center;
      width: 4em;
  }
}

#dashurl {
  width: 100%;
  font-stretch: condensed;
  margin: 0.25em 1.5em 0 0.5em;
  font-weight: bold;
  font-size: 1.25em;
}

#play-button {
  position: relative;
  margin: 0 auto;
  width: 24rem;
  > .button {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.4rem;
    margin: 0;
  }
  .fa-play {
    color: @mediumBlue;
  }
  .play-select {
    margin-left: 3.5rem;
    font-size: 1.75rem;
    color: black;
  }
}

#edit-model {
    .form-actions > .btn {
        margin-right: 1.5em;
    }
    .not-selected {
        font-style: italic;
        opacity: 0.7;
    }
}

.edit-model > h2 {
  font-size: 2em;
}

#edit-key-page {
    .row-field-computed > .col-6 {
        display: inline-block;
    }
    #model-computed {
        font-size: 1.75rem;
    }
}
.disabled {
  opacity: 0.5;
}

#user-management {
    .users-list {
        table-layout: fixed;
        .pk {
            width: 3em;
        }
        .username {
            width: 10em;
        }
        .email {
            width: 15em;
        }
        .last-login {
            width: 8em;
        }
        th.must-change {
            font-size: 0.8rem;
        }
        .bool-col {
            text-align: center;
            width: 5em;
        }
    }
    .users-list-wrap {
        position: relative;
        .add-user {
            left: 1em;
            position: absolute;
            top: 0.3em;
        }
    }
}

.manifest-url {
    margin: 0 auto 1em;
    max-width: 70em;
    padding: 0.25em 1em;
}

#manifest-xml {
    background-color: #f7f7f3;
    border: 1px solid #ddd;
    font-size: 0.95rem;
    height: 35em;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 1em;
}

body.mips, body.arm {
  .representations, .cgi-parameters, .user, .breadcrumbs {
    display: none;
  }
}

.event-parameters {
    td {
        white-space: nowrap;
    }
    td.description {
        width: 95%;
    }
}

#with-modules {
    margin: 1em auto;
    max-width: 70em;

    .form-text {
        font-size: 90%;
        width: 38%;
    }

    .icon {
        margin-right: 0.75em;
    }

    .play-button, .view-manifest-button {
        text-align: center;
    }

    .selected-stream, .view-manifest {
        border: 1px solid #bbb;
        font-size: 1.7rem;
        margin-bottom: 1em;
        padding: 0.3em 1em;
    }

    #group-0 .accordion-header {
        position: relative;

        .accordion-button::after {
            background-image: none;
        }
    }

    #show-all-options {
        position: absolute;
        right: 2em;
        top: 1em;
        z-index: 5;
    }
}

footer {
    color: @darkGrey;
    margin: 2em 0 0 !important;
    padding: 1em 2em;
    width: 100%;
    .github-link {
        font-size: 0.9rem;
    }
    .service-name {
        font-size: 1.1rem;
        font-weight: bold;
    }
    .copyright {
        font-size: 0.9rem;
    }
}
