#edit_mps_form {
    .period-table {
        .period-ordering {
            > input {
                text-align: right;
            }
            text-align: right;
            width: 6em;
        }
        .period-id {
            width: 10em;
        }
        .period-stream {
            width: 25em;
        }
        .period-duration, .period-start {
            > input {
                text-align: right;
            }
            width: 10em;
        }
        .period-tracks {
          text-align: center;
          width: 7em;
        }
    }
}
