#validator {

  #manifest-form {
    margin: 2em 1em;
    padding: 1em;
  }

  .progress {
    height: 3.5em;

    .progress-bar {
      height: 2.5em;
    }
    .progress-text {
	padding: 0 1em;
    }
  }
  
  .results {
      background-color: rgba(210, 220, 230, 0.4);
      font-size: 0.9rem;
      height: 30em;
      margin: 2em 0;
      overflow-y: scroll;
      padding: 0.5em 1em;
      width: 70rem;
  }
}
