body,
html {
  background: black;
}
#vid-window {
  width: 640px;
  height: 266px;
  margin: 1em;
}
#vid-window > video {
  width: 100%;
  height: 100%;
}
#vid-window .icon {
  position: absolute;
  z-index: 2;
  right: 4em;
  top: 2em;
  color: #eee;
  display: none;
}
#vid-window.paused .fa-pause {
  display: block;
}
.status,
.textbox,
.source,
#play-error {
  position: absolute;
  height: 1em;
  font-size: 2em;
  line-height: 1em;
  padding: 0.2em;
  color: white;
  text-align: center;
  background-color: rgba(63, 63, 63, 0.4);
}
.status {
  top: 2em;
  width: 6em;
}
.textbox,
#play-error {
  left: 0;
  width: 100%;
}
.textbox > span {
  margin-left: 1em;
}
.metadata {
  bottom: 8em;
}
.canplay {
  bottom: 6em;
}
.play {
  bottom: 4em;
}
.resize {
  bottom: 2em;
}
#status {
  left: 2em;
}
#status .target,
#status .actual {
  margin-right: 1em;
}
#vstatus {
  right: 2em;
}
.prefetch {
  display: none;
}
.finished {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  height: 1em;
  margin-top: -0.5em;
  width: 12em;
  left: 50%;
  margin-left: -6em;
  color: #ff6666;
  text-align: center;
  font-family: cursive;
}
#play-error {
  font-size: 3rem;
  color: red;
  top: 6rem;
}
@media only screen and (min-width: 1280px) {
  #vid-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: black;
  }
}
