  .horizontalScroller {
      width: 100%;
  }

  .childrenContainer {
    overflow-x: hidden;
    position: relative;
  }

  .childrenContent {
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
  }