{% extends 'layout.html' %}

{% block extraheaders %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
{% endblock %}

{% block content %}
  <div class="cgi-parameters">
    <p class="info">There are a number of CGI parameters that can be used to modify
    manifests, media segments and time sources.</p>
        <table class="cgi-params table table-striped">
            <caption>CGI parameters</caption>
            <thead>
	      <tr>
		<th class="parameter">Parameter</th>
		<th class="description">Description</th>
		<th class="manifest" >Manifest</th>
		<th class="video">Video</th>
		<th class="audio">Audio</th>
		<th class="time">Time source</th>
	      </tr>
	    </thead>
            <tbody>
	      {% for opt in cgi_options %}
	      <tr>
		<td class="parameter">{{ opt.name }}={{ opt.syntax }}</td>
		<td class="description">
		  {{ opt.html | safe }}
		</td>
		<td class="manifest" >{{ ('manifest' in opt.usage) | toHtmlString }}</td>
		<td class="video">{{ ('video' in opt.usage) | toHtmlString }}</td>
		<td class="audio">{{ ('audio' in opt.usage) | toHtmlString }}</td>
		<td class="time">{{ ('time' in opt.usage) | toHtmlString }}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	</table>
        <table class="table table-striped event-parameters">
          <caption><a name="ping">PING event parameters (urn:dash-live:pingpong:2022)</caption>
          <thead><tr>
              <th>Parameter</th><th>Default</th><th class="description">Description</th>
          </tr></thead>
          <tbody>
            <tr>
              <td>ping_count</td><td>0</td>
              <td class="description">Number of events to insert</td>
            </tr>
            <tr>
              <td>ping_duration</td><td>200</td>
              <td class="description">Duration of each event</td>
            </tr>
            <tr>
              <td>ping_inband</td><td>1</td>
              <td class="description">In-manifest (0) or inband
              with the media (1)</td>
            </tr>
            <tr>
              <td>ping_interval</td><td>1000</td>
              <td class="description">Time period between
              events (timescale units)</td>
            </tr>
            <tr>
              <td>ping_start</td><td>0</td>
              <td class="description">Time of first event
              (timescale units)</td>
            </tr>
            <tr>
              <td>ping_timescale</td><td>100</td>
              <td class="description">Timescale (ticks per second)</td>
            </tr>
            <tr>
              <td>ping_value</td><td>&quot;0&quot;</td>
              <td class="description">The value
              attribute to use for this event stream. The value field
              is used with the schemeIdUri to uniquely identify an
              event stream</td>
            </tr>
            <tr>
              <td>ping_version</td><td>0</td>
              <td class="description">Version of emsg syntax to
              use for inband events</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped event-parameters">
          <caption><a name="scte35">SCTE35 event parameters (urn:scte:scte35:2014:xml+bin)</caption>
          <thead><tr>
              <th>Parameter</th><th>Default</th><th class="description">Description</th>
          </tr></thead>
          <tbody>
            <tr>
              <td>scte35_count</td><td>0</td>
              <td class="description">Number of events to
              insert. This must be an even number for there to be an
              equal number of placement opportunity start and
              placement opportunity end events. The avail_num field
              will increment every other SCTE35 event.</td>
            </tr>
            <tr>
              <td>scte35_duration</td><td>200</td>
              <td class="description">Duration of event</td>
            </tr>
            <tr>
              <td>scte35_inband</td><td>1</td>
              <td class="description">In-manifest (0) or inband
              with the media (1). In-manifest events will use the
              xml+bin format. In-band events will use version 1 emsg boxes.</td>
            </tr>
            <tr>
              <td>scte35_interval</td><td>1000</td>
              <td class="description">Time period between
              events (timescale units)</td>
            </tr>
            <tr>
              <td>scte35_program_id</td><td>1620</td>
              <td class="description">Programmme ID
              </td>
            </tr>
            <tr>
              <td>scte35_start</td><td>0</td>
              <td class="description">Time of first event
              (timescale units)</td>
            </tr>
            <tr>
              <td>scte35_timescale</td><td>100</td>
              <td class="description">Timescale (ticks per second)</td>
            </tr>
            <tr>
              <td>scte35_value</td><td>&quot;0&quot;</td>
              <td class="description">
                The value attribute to use for this event stream. The value field
                is used with the schemeIdUri to uniquely identify an
                event stream
              </td>
            </tr>
          </tbody>
        </table>
	{% if json %}
	<table class="cgi-json-options table table-striped table-bordered" style="width: auto">
	  <thead>
	    <tr>
	      <th class="short-name">Short Name</th>
	      <th class="cgi-param">CGI param names</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for opt in json %}
	    <tr id="opt_{{ opt.name }}">
	      <td class="short-name">{{ opt.name }}</td>
	      <td class="cgi-param">{{ opt.cgi_name }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% endif %}
  </div>
{% endblock %}
