{% extends 'layout.html' %}

{% block content %}
<div id="model-management" class="container">
  <form
  {% if submit_url %}action="{{submit_url}}"{% endif %}
  id="delete-model"
  method="POST"
  name="delete-model"
    >
    <h2>Do you want to delete {{model.title}} ?</h2>
    <br />
  {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  <input type="hidden" name="pk" value="{{model.pk}}" />
  <div class="form-actions">
    <button type="submit" class="btn btn-danger">Delete {{model.title}}</button>
    <a href="{{cancel_url}}" class="btn btn-primary">Cancel</a>
  </div>
  </form>
</div>
{% endblock %}

