<div class="modal" tabIndex="-1" role="dialog" id="dialog-box">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close btn-close"
              data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
{% block modal_footer %}
        <button type="button" class="btn btn-secondary btn-secondary" data-bs-dismiss="modal">Close</button>
{% endblock %}
      </div>
    </div>
  </div>
</div>
