<form method="POST"
  {%- if submit_url %} action="{{submit_url}}" {%- endif %}
  id="{{ form_id | default('edit-model') }}"
  name="{{ form_name | default('edit_model') }}"
  >
  {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  {% if field_groups %}
  <div class="accordion">
    {% for group in field_groups %}
    <div class="accordion-item mb-4 {{ group.className }}" id="group-{{ loop.index0 }}">
      <div class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#model-group-{{ loop.index }}" aria-expanded="true"
                aria-controls="model-group-{{ loop.index }}">
          {{ group.title }}
        </button>
      </div>
      <div class="accordion-collapse collapse p-3 {%- if group.show %} show{%- endif %}"
           id="model-group-{{ loop.index }}">
        {% for field in group.fields %}
          {%- if field.type == "hidden" %}
            {% include 'input-element.html' %}
          {%- else %}
            {% include 'input-field-row.html' %}
          {%- endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    {%- for field in fields %}
      {%- if field.type == "hidden" %}
        {% include 'input-element.html' %}
      {%- else %}
        {%- include 'input-field-row.html' %}
      {%- endif %}
    {% endfor %}
  {% endif %}
  {%- if not exclude_buttons %}
  <div class="form-actions">
    {% if current_user.has_permission('MEDIA') %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{{cancel_url}}" class="btn btn-warning">Cancel</a>
    {% else %}
    <a href="{{cancel_url}}" class="btn btn-warning">Back</a>
    {% endif %}
    {% if extra_buttons %}
    {{ extra_buttons }}
    {% endif %}
  </div>
  {% endif %}
</form>
