<form
  {% if submit_url %}action="{{submit_url}}"{% endif %}
  id="edit-model"
  method="POST"
  name="edit-model"
  >
  {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  {% for field in fields %}
  {% include 'input-field.html' %}
  {% endfor %}
  <div class="form-actions">
    {% if current_user.has_permission('MEDIA') %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{{cancel_url}}" class="btn btn-warning">Cancel</a>
    {% else %}
    <a href="{{cancel_url}}" class="btn btn-warning">Back</a>
    {% endif %}
    {% if extra_buttons %}
    {{ extra_buttons }}
    {% endif %}
  </div>
</form>
