{% extends 'layout.html' %}

{% if not force_es5 %}
{% set nomodule = "nomodule" %}
{% endif %}

{% block content %}
<div class="manifest-url rounded border">
  <span class="fw-semibold">Manifest URL: </span>
  <a id="dashurl" href="{{ default_url }}">{{ default_url }}</a>
</div>
<div id="with-modules"
     data-stream-url-template="{{ stream_url_template }}"
     data-mps-url-template="{{ mps_url_template }}">
  <div class="row">
    <div class="play-button col-6" >
      <a class="btn btn-primary selected-stream" href="{{ default_url }}">
        <span class="bi bi-play-fill" aria-hidden="true"/>
        <span class="title" />
      </a>
    </div>
    <div class="col-6 view-manifest-button">
      <a class="view-manifest btn btn-light" href="" class="btn btn-light btn-sm disabled">
        <span class="bi bi-search icon"></span>View Manifest
      </a>
    </div>
  </div>
  <div class="form-check form-switch form-check-inline" id="show-all-options">
    <input class="form-check-input" type="checkbox" name="advanced" id="advanced-options" role="switch">
    <label class="form-check-label" for="advanced-options">Show all options</label>
  </div>
  {% include 'edit-model-form.html' %}
</div>
<p class="info">
  The MPD files for live streams are dynamically
  generated so that they appear to be live sources, using static media files.
  Requests for manifests and for media fragments can be modified
  using various CGI parameters, which are documented on the
  <a href="{{url_for('cgi-options')}}" class="link">CGI options</a> page.
</p>
{% endblock %}

{% block extrascripts %}
{% if not force_es5 %}
<script src="{{url_for('static', filename='js/index.js')}}" type="module" ></script>
{% endif %}
<script {{ nomodule }} type="text/javascript">
document.location.replace("{{ url_for('es5-home') }}");
</script>
{% endblock %}
