{% extends 'layout.html' %}

{% block extraheaders %}
<link rel="stylesheet" href="/css/tooltipster.css" />
{% endblock %}

{% block content %}
<div id="buttons" data-page="{{page}}">
  <table class="btn-grid table">
    <tbody>
  {% if page>1 %}
      <tr class="prev-next"><td colspan="4" id="btn0" class="prev"><a href="{{uri_for("home")}}?page={{page-1}}" class="prev"><span class="key">0:</span>Previous page</a></td></tr>
  {% endif %}
      {% for row in rows %}
        <tr><th class="title"><p class="title">{{row.title}}</p>{% for sub in row.details %}<p class="subtitle">{{sub|escape}}</p>{% endfor %}</th>
          {% for btn in row.buttons %}
        <td class="btn" id="btn{{btn.key}}"><a href="{{btn.url}}" data-testcase="{{btn.id}}"><span class="key">{{btn.key}}:</span>
          <p class="tooltip" title="Adaptive bitrate enabled?">ABR {{btn.abr|toHtmlString}}</p>
          <p class="tooltip" title="BaseURL element present?">BaseURL {{btn.BaseURL|toHtmlString}}</p>
          {% if not btn.static %}
          <p class="tooltip" title="minimumUpdatePeriod attribute present?">Update {{btn.mup|toHtmlString}}</p>
          {% endif %}
          <p class="tooltip" title="Stream is encrypted?">Encrypted {{btn.encrypted|toHtmlString}}</p>
          </a>
        </td>
          {% endfor %}
        </tr>
      {% endfor %}
  {% if page<num_pages %}
      <tr class="prev-next"><td colspan="4" id="btn9" class="next"><a class="next" href="{{uri_for("home")}}?page={{page+1}}"><span class="key">9:</span>Next page</a></td></tr>
  {% endif %}
    </tbody>
  </table>
</div>
  <p class="info">These test streams use <a href="http://www.bigbuckbunny.org/">the Big Buck Bunny movie</a> from the
    <a href="http://www.blender.org/foundation/">Blender Foundation</a> as the media. The MPD files for live streams are dynamically
    generated so that they appear to be live sources, using static media files.
    </p>
    <div class="representations">
    <table class="representations table table-striped">
      <caption>Video Representations</caption>
      <thead><tr>{% for f in video_fields %}<th class="{{f}}">{{f}}</th>{% endfor %}</tr></thead>
      <tbody>
        {% for repr in video_representations %}
        <tr>
          {% for f in video_fields %}<td class="{{f}}">{{repr[f]|toHtmlString}}</td>{% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table class="representations table table-striped">
      <caption>Audio Representations</caption>
      <thead><tr>{% for f in audio_fields %}<th class="{{f}}">{{f}}</th>{% endfor %}</tr></thead>
      <tbody>
        {% for repr in audio_representations %}
        <tr>
          {% for f in audio_fields %}<td class="{{f}}">{{repr[f]|toHtmlString}}</td>{% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <p class="info">There are a number of CGI parameters that can be used to modify
    manifests, media segments and time sources.</p>
        <table class="cgi-params table table-striped">
            <caption>CGI parameters</caption>
            <thead><tr><th>Parameter</th><th>Description</th><th>Manifest</th><th>Media</th><th>Time source</th></tr></thead>
            <tbody>
            <tr><td>404=&lt;num&gt;,&lt;num&gt;,...<br/>410=&lt;num&gt;,&lt;num&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting the given segment number.</td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>503=&lt;num&gt;,&lt;num&gt;,...<br/>504=&lt;num&gt;,&lt;num&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                when requesting the given segment number.  Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>a404=&lt;time&gt;,&lt;time&gt;,...<br/>a410=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting the audio segment that corresponds to the specified time.
                Time must be in the form HH:MM:SSZ</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>a503=&lt;time&gt;,&lt;time&gt;,...<br/>a504=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                on the first request for the audio segment that corresponds to the specified time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>acodec=(mp4a|ec-3)</td><td>Filter audio adaptation sets by audio codec (AAC or E-AC3)</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>base=(true|false)</td><td>Include a BaseURL element?</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>corrupt=&lt;number&gt;,&lt;number&gt;,...</td>
            <td>Cause video corruption to be generated when requesting a fragment at the given time.
                Invalid data is placed inside NAL packets of video frames. &lt;number&gt;
                is the segment number of the segment to corrupt.
            </td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>depth=&lt;number&gt;</td><td>Number of seconds of timeshiftBufferDepth</td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>drift=&lt;number&gt;</td><td>Number of seconds of delay to add to wall clock time</td>
                <td>&check;</td><td>&check;</td><td>&check;</td>
            </tr>
            <tr><td>enc=(true|false)</td><td>Encrypted or clear</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>failures=&lt;number&gt;</td><td>Number of times to respond with a 5xx error before
                accepting the request. Only relevant in combination with one of the error injection
                parameters (e.g. v503, m503).</td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>frames=&lt;number&gt;</td><td>Number of frames to corrupt per segment.
            Only relevant when the corrupt CGI parameter is present.  </td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>m404=&lt;time&gt;,&lt;time&gt;,...<br/>m410=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting a manifest at the given time. Time must be
                in the form HH:MM:SSZ. An HTTP error will be generated if a
                manifest request ocurs between &lt;time&gt; and &lt;time&gt;+&lt;minimumUpdatePeriod&gt; </td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>m503=&lt;time&gt;,&lt;time&gt;,...<br/>m504=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                on the first request for the manifest at the given time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                manifest will succeed.  An HTTP error will be generated if a
                manifest request ocurs between &lt;time&gt; and &lt;time&gt;+&lt;minimumUpdatePeriod&gt;</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>main_audio=(mp4a|ec-3)</td><td>Select audio AdaptationSet that will
            be given the &quot;main&quot; role (AAC or E-AC3)</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>mode=(live|vod)</td><td>Select vod or live mode</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>mup=&lt;number&gt;</td><td>Specify minimumUpdatePeriod (in seconds) or -1 to disable updates</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>repr=&lt;string&gt;</td><td>Select a video representation by ID</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>start=(now|iso-datetime)</td><td>Specify
                availabilityStartTime as "now" or an ISO datetime (YYYY-MM-DDTHH:MM:SSZ)
              </td>
              <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>time=(xsd|iso|ntp|head)</td><td>Select UTCTiming element HTTP method.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>v404=&lt;time&gt;,&lt;time&gt;,...<br/>
                v410=&lt;time&gt;,&lt;time&gt;,...
            </td><td>Cause a 404 or 410 error to be generated
                when requesting the video segment that corresponds to the specified time.
                Time must be in the form HH:MM:SSZ</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>v503=&lt;time&gt;,&lt;time&gt;,...<br/>
                v504=&lt;time&gt;,&lt;time&gt;,...
            </td><td>Cause a 503 or 504 error to be generated
                on the first request for the video segment that corresponds to the specified time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>vcorrupt=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause video corruption to be generated when requesting a fragment at the given time.
                Invalid data is placed inside NAL packets of video frames.
                Each time must be in the form HH:MM:SSZ.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            </tbody>
        </table>
{% endblock %}

{% block scripts %}
  {{import_script("jquery-1.11.1")}}
  {{import_script("jquery.tooltipster")}}
  <script src="/js/main.js" type="text/javascript"></script>
{% endblock %}
