{% extends 'layout.html' %}

{% block extraheaders %}
<link rel="stylesheet" href="/css/font-awesome.css" />
{% endblock %}

{% block content %}
<div><a id="dashurl" href=""></a></div>
<div id="buttons" data-page="{{page}}">
  <table class="btn-grid table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th class="active manifest">Manifest</th>
        <th class="option">Options</th></tr>
      </thead>
    <tbody>
      {% for row in rows %}
      <tr id="row{{loop.index0}}">
        <td class="manifest active" data-uri="{{row.url}}"
            data-filename="{{row.filename}}" data-params="{{row.manifest.params|toJson|escape}}">
        <span class="key manifest-key active">{{loop.index0}}</span>
          {% if row.manifest.title %}
          <a class="manifest-title" href="{{row.url}}">{{row.manifest.title}}</a>
          <img class="bool-yes" src="/img/tick-icon.png" />
          {% endif %}
        </td>
        <td class="option">
          <span class="key option-key">{{loop.index0}}</span>
          <span class="option-title">{{row.option.title}}</span>
          {% if row.option.name %}
          <select name="{{row.option.name}}">
            {% for opt in row.option.options %}
            <option value="{{opt[1]}}">{{opt[0]}}</option>
            {% endfor %}
          </select>
          {% endif %}
        </td>
        </tr>
      {% endfor %}
      <tr class="play-row"><td colspan="2" id="play-cell">
          <div id="play-button" class="disabled" >
            <a class="button play-icon"><span class="fa fa-play icon"></span></a>
			<select name="stream" class="play-select">
			{% for stream in streams %}
			<option value="{{stream.prefix}}">Play {{stream.title}}</option>
			{% endfor %}
			</select>
          </div>
      </td></tr>
    </tbody>
  </table>
</div>
  <p class="info">
    The MPD files for live streams are dynamically
    generated so that they appear to be live sources, using static media files.
  </p>
  <div class="container">
  <div class="representations row">
    <div clsss="video-representations col">
    <table class="table table-striped">
      <caption>Video Representations</caption>
      <thead><tr>{% for f in video_fields %}<th class="{{f}}">{{f}}</th>{% endfor %}</tr></thead>
      <tbody>
        {% for repr in video_representations %}
        <tr>
          {% for f in video_fields %}<td class="{{f}}">{{repr[f]|toHtmlString}}</td>{% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class="audio-representations col">
    <table class="table table-striped">
      <caption>Audio Representations</caption>
      <thead><tr>
          {% for f in audio_fields %}
          <th class="{{f}}">{% if f=="numChannels" %}channels{% else
          %}{{f}}{% endif %}</th>
          {% endfor %}
      </tr></thead>
      <tbody>
        {% for repr in audio_representations %}
        <tr>
          {% for f in audio_fields %}
          <td class="{{f}}">{{repr[f]|toHtmlString}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  </div>
    <div class="cgi-parameters">
    <p class="info">There are a number of CGI parameters that can be used to modify
    manifests, media segments and time sources.</p>
        <table class="cgi-params table table-striped">
            <caption>CGI parameters</caption>
            <thead><tr><th>Parameter</th><th>Description</th><th>Manifest</th><th>Media</th><th>Time source</th></tr></thead>
            <tbody>
            <tr><td>404=&lt;num&gt;,&lt;num&gt;,...<br/>410=&lt;num&gt;,&lt;num&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting the given segment number.</td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>503=&lt;num&gt;,&lt;num&gt;,...<br/>504=&lt;num&gt;,&lt;num&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                when requesting the given segment number.  Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>a404=&lt;time&gt;,&lt;time&gt;,...<br/>a410=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting the audio segment that corresponds to the specified time.
                Time must be in the form HH:MM:SSZ</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>a503=&lt;time&gt;,&lt;time&gt;,...<br/>a504=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                on the first request for the audio segment that corresponds to the specified time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>abr=(true|false)</td><td>Enable or
                disable adaptive bitrate.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>acodec=(mp4a|ec-3)</td><td>Filter audio adaptation sets by audio codec (AAC or E-AC3)</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>base=(true|false)</td><td>Include a BaseURL element?</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>corrupt=&lt;number&gt;,&lt;number&gt;,...</td>
            <td>Cause video corruption to be generated when requesting a fragment at the given time.
                Invalid data is placed inside NAL packets of video frames. &lt;number&gt;
                is the segment number of the segment to corrupt.
            </td>
                <td>&cross;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>depth=&lt;number&gt;</td><td>Number of seconds of timeshiftBufferDepth</td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>drift=&lt;number&gt;</td><td>Number of seconds of delay to add to wall clock time</td>
                <td>&check;</td><td>&check;</td><td>&check;</td>
            </tr>
            <tr><td>drm=&lt;drmlist&gt;</td>
              <td><p>A comma separated list of DRMs:</p>
                <ul>
                    <li>all - All supported DRMs</li>
                    <li>clearkey - W3C ClearKey</li>
                    <li>marlin - Intertrust Marlin</li>
                    <li>none - No DRM</li>
                    <li>playready - Microsoft PlayReady</li>
                </ul>
                <p>For example: <span class="pre">drm=playready,marlin</span></p>
                <p style="margin-top: 0.5em">Optionally with a hyphen separated list of locations for the DRM
                  data:</p>
                  <ul>
                    <li>pro - An mspr:pro element in the MPD (only
                    applicable to PlayReady)</li>
                    <li>cenc - A cenc:pssh element in the MPD</li>
                    <li>moov - A PSSH box in the init segment</li>
                  </ul>
                <p>For example: <span class="pre">drm=playready-pro-cenc,clearkey-moov</span></p>
              </td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>failures=&lt;number&gt;</td><td>Number of times to respond with a 5xx error before
                accepting the request. Only relevant in combination with one of the error injection
                parameters (e.g. v503, m503).</td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>frames=&lt;number&gt;</td><td>Number of frames to corrupt per segment.
            Only relevant when the corrupt CGI parameter is present.  </td>
                <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>m404=&lt;time&gt;,&lt;time&gt;,...<br/>m410=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 404 or 410 error to be generated
                when requesting a manifest at the given time. Time must be
                in the form HH:MM:SSZ. An HTTP error will be generated if a
                manifest request ocurs between &lt;time&gt; and &lt;time&gt;+&lt;minimumUpdatePeriod&gt; </td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>m503=&lt;time&gt;,&lt;time&gt;,...<br/>m504=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause a 503 or 504 error to be generated
                on the first request for the manifest at the given time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                manifest will succeed.  An HTTP error will be generated if a
                manifest request ocurs between &lt;time&gt; and &lt;time&gt;+&lt;minimumUpdatePeriod&gt;</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>main_audio=(mp4a|ec-3)</td><td>Select audio AdaptationSet that will
            be given the &quot;main&quot; role (AAC or E-AC3)</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>mode=(live|vod)</td><td>Select vod or live mode</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>mup=&lt;number&gt;</td><td>Specify minimumUpdatePeriod (in seconds) or -1 to disable updates</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>start=(now|iso-datetime)</td><td>Specify
                availabilityStartTime as "now" or an ISO datetime (YYYY-MM-DDTHH:MM:SSZ)
              </td>
              <td>&check;</td><td>&check;</td><td>&cross;</td>
            </tr>
            <tr><td>time=(xsd|iso|ntp|head)</td><td>Select UTCTiming element HTTP method.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>v404=&lt;time&gt;,&lt;time&gt;,...<br/>
                v410=&lt;time&gt;,&lt;time&gt;,...
            </td><td>Cause a 404 or 410 error to be generated
                when requesting the video segment that corresponds to the specified time.
                Time must be in the form HH:MM:SSZ</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>v503=&lt;time&gt;,&lt;time&gt;,...<br/>
                v504=&lt;time&gt;,&lt;time&gt;,...
            </td><td>Cause a 503 or 504 error to be generated
                on the first request for the video segment that corresponds to the specified time.
                Time must be  in the form HH:MM:SSZ. Retries for the same
                segment will succeed, unless the segment has fallen outside of
                the timeshift buffer depth.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            <tr><td>vcorrupt=&lt;time&gt;,&lt;time&gt;,...</td>
            <td>Cause video corruption to be generated when requesting a fragment at the given time.
                Invalid data is placed inside NAL packets of video frames.
                Each time must be in the form HH:MM:SSZ.</td>
                <td>&check;</td><td>&cross;</td><td>&cross;</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
  {{import_script("jquery-3.4.1")}}
  <script src="/js/main.js" type="text/javascript"></script>
{% endblock %}
