{%- if field.rowClass %}
{% set rowClass = field.rowClass %}
{%- else %}
{% set rowClass = "row mb-3" %}
{%- endif %}
{%- if field.type == "checkbox" %}
{% set formClass = "form-check" %}
{%- else %}
{% set formClass = "form-group" %}
{%- endif %}
<div class="{{ rowClass }} {{ formClass }}">
  {% if field.type != "hidden" %}
  <label class="col-sm-2 col-form-label {%- if field.disabled %} disabled{%- endif %}" for="model-{{field.name}}">
    {{ field.title }}:
  </label>
  <div {% if field.text %}class="col-sm-5" {% else %}class="col-sm-10" {% endif %}>
  {% endif %}
    {% if field.type == "select" %}
      <select
    {% else %}
      <input
    {% endif %}
	type="{{ field.type }}"
	name="{{ field.name }}"
	id="model-{{ field.name }}"
    {%- if field.type != 'checkbox' %} class="form-control" {% endif %}
    {%- if model %} title="{{model.title}}" {% endif %}
    {%- if field.text %} aria-describedby="text-{{ field.name }}" {% endif %}
    {%- if field.type == 'checkbox' %}
    {%- if field.value %} checked{% endif %}
    {% else %}
    {%- if field.value %} value="{{field.value}}"{% endif %}
    {% endif %}
    {%- if field.min %} min="{{field.min}}"{% endif %}
    {%- if field.max %} max="{{field.max}}"{% endif %}
    {%- if field.minlength %} minlength="{{field.minlength}}"{% endif %}
    {%- if field.maxlength %} maxlength="{{field.maxlength}}"{% endif %}
    {%- if field.pattern %} pattern="{{field.pattern}}"{% endif %}
    {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif %}
    {%- if field.spellcheck %} pattern="{{field.spellcheck}}"{% endif %}
    {%- if field.required %} required{% endif %}
    {%- if field.disabled %} disabled{% endif %}
    {% if field.type == "select" %}
	>
      {% for option in field.options %}
        <option value="{{ option.value }}"
	  {%- if option.selected %}selected {%- endif %}
	>{{ option.title }}</option>
      {% endfor %}
      </select>
      {% else %}
    />
      {% endif %}
  {% if field.type != "hidden" %}
  <div class="invalid-feedback"></div>
  </div>
  {% endif %}
  {%- if field.text %}
  <div class="form-text col-sm-5" id="text-{{ field.name }}">{{ field.text }}</div>
  {%- endif %}
</div>
