{%- if field.type == 'checkbox' %}
{% set inputClass = 'form-check-input' %}
{% elif field.type == "select" %}
{% set inputClass = 'form-select' %}
{%- else %}
{% set inputClass = 'form-control' %}
{%- endif %}
{%- if field.error %}
{% set validationClass = 'is-invalid' %}
{%- elif validation == 'was-validated' %}
{% set validationClass = 'is-valid' %}
{%- else %}
{% set validationClass = '' %}
{%- endif %}

{%- if field.type != "radio" %}
  {% if field.type == "select" %}
    <select
  {%- elif field.type == "link" %}
    <input disabled type="text"
  {%- else %}
    <input
  {%- endif %}
      type="{{ field.type }}"
      name="{{ field.name }}"
      id="model-{{ field.name }}"
      class="{{ inputClass }} {{ validationClass }} {{ field.className }}"
    {%- if model %} title="{{model.title}}" {% endif %}
    {%- if field.text %} aria-describedby="text-{{ field.name }}" {% endif %}
    {%- if field.type == 'checkbox' %}
    {%- if field.value %} checked{% endif %}
    {% else %}
    {%- if 'value' in field and field.value != None %} value="{{field.value}}"{% endif %}
    {% endif %}
    {%- if field.min %} min="{{field.min}}"{% endif %}
    {%- if field.max %} max="{{field.max}}"{% endif %}
    {%- if field.minlength %} minlength="{{field.minlength}}"{% endif %}
    {%- if field.maxlength %} maxlength="{{field.maxlength}}"{% endif %}
    {%- if field.pattern %} pattern="{{field.pattern}}"{% endif %}
    {%- if field.placeholder %} placeholder="{{field.placeholder}}"{% endif %}
    {%- if 'spellcheck' in field %} spellcheck="{{field.spellcheck}}"{% endif %}
    {%- if field.step %} step="{{field.step}}"{% endif %}
    {%- if field.multiple %} multiple{% endif %}
    {%- if field.required %} required{% endif %}
    {%- if field.disabled %} disabled{% endif %}
    {%- if field.datalist %} list="list-{{ field.name }}" {% endif %}
    {% if field.type == "select" %}
        >
      {% for option in field.options %}
        <option value="{{ option.value }}"
          {%- if option.selected %}selected {%- endif %}
        >{{ option.title }}</option>
      {% endfor %}
      </select>
      {% else %}
      />
    {% endif %} {# type == select #}
    {% else %} {# type == radio #}
      {% for option in field.options %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="{{ field.name }}"
               id="radio-{{ field.name }}-{{ option.value }}"
               value="{{ option.value }}" {%- if option.selected %}checked {%- endif %} />
        <label class="form-check-label"
               for="radio-{{ field.name }}-{{ option.value }}" >{{ option.title }}</label>
      </div>
      {% endfor %}
    {% endif %}
