<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if on_production_server %}
            <link href='{{http_protocol}}://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
        {% else %}
            <link href='/css/comfortaa.css' rel='stylesheet' type='text/css'>
        {% endif %}
        {% block firstscript %}{% endblock %}
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        {% block stylesheet %}
        <link rel="stylesheet" href="/css/main.css" />
        {% endblock %}
        <script src="/js/modernizr-3.5.0-custom.js"></script>
        {% block extraheaders %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header>
    {% block header %}
            <ul class="user">
            {% if user %}
            <li><a class="upload" href="/media">Media</a></li>
            <li><a class="logout" href="{{logout}}">Log Out</a></li>
            {% else %}
            <li><a class="login" href="{{login}}">Log In</a></li>
            {% endif %}
            </ul>
            <div id="logo"><a href="/">DASH test streams</a></div>
        <div class="info">
        	<nav class="breadcrumbs">
        	{% if breadcrumbs %}
        	{% for bc in breadcrumbs %}
        	<p class="breadcrumb"><a href="{{bc.href}}" title="{{ bc.title }}">{{ bc.title }}</a></p>
        	{% endfor %}
        	{% endif %}
        	<p class="title">{% if title_link %}<a href="{{title_link}}">{% endif %}{{ title }}{% if title_link %}</a>{% endif %}</p>
        	</nav>
        	</div>
	{% endblock %}
        </header>
        <div id="content" class="container_16">
    {% block content %}
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
	{% endblock %}
	</div>
	{% block scripts %}
	{% endblock %}
    </body>
</html>
