{% extends 'layout.html' %}

{% block extraheaders %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
{% endblock %}

{% block content %}
<div class="display-manifest">
  <form id="mpd-form">
    <div class="row mb-3 form-group row-field-title">
      <label class="col-1 col-form-label" for="model-title">
        MPD URL:
      </label>
      <div class="col-11">
        <input type="text" value="{{ mpd_url }}" name="mpd_url" id="id_mpd_url" class="form-control" />
      </div>
    </div>
  </form>
  <pre id="manifest-xml"> </pre>
</div>
{% endblock %}

{% block scripts %}
  {{import_script("jquery-3.7.1")}}
  <script type="text/javascript">
$(document).ready(function(){
  'use strict';
    function displayMpd(data) {
      var ser;
      ser = new XMLSerializer();
      $('#manifest-xml').text(ser.serializeToString(data));
    }
    $('#mpd-form').on('submit', function(ev) {
        var mpd_url;

        ev.preventDefault();
        console.log('form submit');
        mpd_url = $('#id_mpd_url').val();
        $.ajax(mpd_url, {
            success: displayMpd,
            dataType: "xml"
        });
    });
    $.ajax("{{ mpd_url }}", {
       success: displayMpd,
       dataType: "xml"
    });
});
  </script>
{% endblock %}
