<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <span class="navbar-brand">DASH server</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
	  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for nav in navbar %}
      <li class="nav-item {{ nav.class }}">
        <a class="nav-link {%- if nav.active %} active{% endif %}"
	   href="{{ nav.href }}"
	   {%- if nav.active %} aria-current="page" {% endif %}
	   >{{ nav.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {%- if nav_warning %}
  <div class="alert alert-warning" role="alert">{{ nav_warning }}</div>
  {%- endif %}
</nav>
