{% extends 'layout.html' %}

{% block firstscript %}
{% endblock %}

{% block extraheaders %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/validator.css') }}" />
<script src="{{ url_for('static', filename='js/validator.js')}}" type="module"></script>
{% endblock %}

{% block content %}
<div id="validator" class="container">
  <form
    {% if submit_url %}action="{{submit_url}}"{% endif %}
    method="POST"
    id="manifest-form"
    name="manifest"
    class="card needs-validation"
    >
    {%- for field in form %}
      {% if field.type != 'checkbox' %}
        {% include 'input-field.html' %}
      {% endif %}
    {%- endfor %}
    <div class="row mb-3">
    {%- for field in form %}
    {% if field.type == 'checkbox' %}
    {% if field.newRow %}
    </div><div class="row mb-3">
    {% endif %}
        {% include 'checkbox.html' %}
      {% endif %}
    {%- endfor %}
    </div>
    <div class="form-actions">
      <button type="submit" id="submit" class="btn btn-primary">Validate DASH stream</button>
      <button id="btn-cancel" disabled class="btn btn-secondary">Cancel</button>
    </div>
  </form>
  <div class="card progress">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
	 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
	 style="visibility:hidden">0%</div>
    <div class="progress-text"></div>
  </div>
  <div class="card" id="manifest-text"></div>
  <div class="card results"></div>
  </div>
</div>
{% endblock %}
