{% extends 'edit-model.html' %}

{% block card_header %}
{%- if model.pk %}
{%- if model.pk == current_user.pk %}
Editing my account
{% else %}
Editing user &quot;{{model.username}}&quot;
{% endif %}
{%- else %}
Adding new user
{% endif %}
{% endblock %}

{% block extra_buttons %}
{% if model.pk and current_user.is_admin %}
<a href="{{url_for('delete-user', upk=model.pk)}}"
   class="btn btn-danger delete-stream"
   data-id="{{model.pk}}">Delete &quot;{{model.username}}&quot;</a>
{% endif %}
{% endblock %}

{% block extra_inputs %}
{% if current_user.is_admin %}
<fieldset class="form-group">
  <div class="row">
    <legend class="col-form-label col-sm-2 pt-0">Groups:</legend>
    <div class="col-sm-10">
      {% for group in group_names %}
      <div class="form-check form-check-inline">
	<input
	  class="form-check-input"
	  type="checkbox"
	  id="id-group-{{ group }}"
	  name="{{ group | lower }}_group"
	  {%- if model.groups[group] %}checked{% endif %}
	  >
	<label class="form-check-label" for="id-group-{{ group }}">{{ group | title }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
</fieldset>
{% endif %}
{% endblock %}
