{% extends 'edit-model.html' %}

{% block card_header %}
<h2>Edit Multi-Period Stream &quot;{{ model.name }}&quot;</h2>
{% endblock %}

{% block form_element %}
data-validate-url="{{ url_for('validate-mps') }}"
{% endblock %}

{% block extra_inputs %}
<div class="row">
<div class="col-2 col-form-label">Periods:</div>
<ul class="list-group col-10">
{%- for period in model.periods %}
  <li class="list-group-item row">
    <div class="col-1">{{ period.ordering }}</div>
    <div class="col-5">
      <a href="{{ url_for('view-stream', spk=period.stream_pk) }}">
        {{ period.stream.title }}
      </a>
    </div>
    <div class="col-3">{{ period.start|timeDelta }}</div>
    <div class="col-3">{{ period.duration|timeDelta }}</div>
  </li>
{% endfor -%}
  <li class="list-group-item">
    <button class="btn btn-primary">Add a Period</button>
  </li>
  </ul>
</div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{{url_for('static', filename='js/mps/edit_stream.js')}}" type="module"></script>
{% endblock %}
